body{
    background-color: wheat;
    /* color: darkblue; */
    font-family: sans-serif;
    padding: 10px;
}

nav {
    padding: 10px 0;
    background-color: lightblue;
    border-radius: 10px;
    margin-bottom: 1rem;
    border: solid 5px darkblue;
    display: flex;
    vertical-align: middle;
}

nav li{
    display: inline; 
    margin: 0 10px;
}

nav li a {
    color: darkblue;
    text-decoration: none;
}

nav li a:hover{
    color: orangered;
}