body{
    background-color: wheat;
    /* color: darkblue; */
    font-family: sans-serif;
    padding: 10px;
}

nav {
    padding: 10px 0;
    background-color: lightblue;
    border-radius: 10px;
    margin-bottom: 1rem;
    border: solid 5px darkblue;
    display: flex;
    vertical-align: middle;
}

nav li{
    display: inline; 
    margin: 0 10px;
}

nav a, a.dropdown-item, a.nav-link {
    color: darkblue;
    text-decoration: none;
}

nav a:hover, a.dropdown-item:hover, a.nav-link:hover {
    color: orangered;
}

/* div.matchbox {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
} */

div.match-card {
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;
}

div.match-card {
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;
}

div.match-details-card {
    border-radius: 5px;
    padding: 20px 0;
    text-align: center;
    width: 60%;
    margin-top: 50px;
}

div.team {
    width: 49%;
    display: inline-block;
}

div.date {
    text-align: center;
}

div.matchDetails {
    display: inline-block;
}

form.list-filter {
    width: 85%;
    display: inline-block;
}

form.clear-filter {
    width: 13%;
    display: inline-block;
}

div.champ-filter{
    width: 30%;
    display: inline-block;
}

div.team-filter{
    width: 30%;
    display: inline-block;
}

div.limit{
    width: 30%;
    display: inline-block;
}

div.limit input {
    display: inline-block;
}

div.champ-filter select {
    display: inline-block;
}

div.team-filter select {
    display: inline-block;
}

form.details-button {
    display: inline-block;
}

span.team-name {
    padding: 3px;
    font-size: 1.5rem;
}

div.fav-teams-wrapper {
    text-align: center;
}

table.fav-teams {
    width: 60%;
}